.App {
  text-align: center;
  position: relative;
}

form {
  padding: 20px;
}

.puffloader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

body {
  background-color: #141414;
  color: #ffead0;
}
