.App {
  text-align: center;
  position: relative;
}

.card {
  padding: 20px;
  border-radius: 10px;
  /* background-color: #2aa; */
  border: 1px solid #80DBCE;
  margin: 20px;
  text-align: left;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 500ms ease-in-out;
}

.card:hover {
  box-shadow: rgba(149, 157, 165, 0.6) 0px 12px 36px;
  cursor: pointer;
  transform: scale(1.01);
  background-color: #FFFFFF11;
}
form {
  padding: 20px;
}

.puffloader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

body {
  background-color: #141414;
  color: #FFEAD0;
}